In [65]:
import pandas as pd

In [56]:
df = pd.read_csv("stocks.csv")
df.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$124.40,0.20,0.161%,3.518525e+10,United States,1999.0,2729617,Industrials,Biotechnology: Laboratory Analytical Instruments
1,AA,Alcoa Corporation Common Stock,$61.41,1.60,2.675%,1.590298e+10,United States,2016.0,5008654,Industrials,Aluminum
2,AAL,American Airlines Group Inc. Common Stock,$13.15,-0.44,-3.238%,8.683005e+09,United States,NaN,64553579,Consumer Discretionary,Air Freight/Delivery Services
3,AAOI,Applied Optoelectronics Inc. Common Stock,$56.27,4.59,8.882%,3.842027e+09,United States,2013.0,4187979,Technology,Semiconductors
4,AAON,AAON Inc. Common Stock,$100.95,-1.35,-1.32%,8.240958e+09,United States,NaN,602632,Industrials,Industrial Machinery/Components

In [57]:
# clean up last sales
df['Last Sale'] = df['Last Sale'].str.replace('$', '').astype(float)

In [62]:
# keep stocks with trading volume over 5,000,000
df = df[df['Volume'] > 3000000]
# keep companies with market cap over 2 billion
df = df[df['Market Cap'] > 2000000000]
# remove penny stocks
df = df[df['Last Sale'] > 5]
len(df)

466

In [64]:
# check to see the amount of companies for each sector
sectors = df['Sector'].unique()
for i in sectors:
  sector = df[df['Sector'] == i]
  print(f'The number of {i} tickers is {len(sector)}')

The number of Industrials tickers is 40
The number of Consumer Discretionary tickers is 77
The number of Technology tickers is 110
The number of Health Care tickers is 39
The number of Consumer Staples tickers is 19
The number of Utilities tickers is 28
The number of Finance tickers is 70
The number of Real Estate tickers is 43
The number of Telecommunications tickers is 9
The number of Energy tickers is 22
The number of Basic Materials tickers is 9

In [52]:
# sort the csv by sector
df = df.sort_values(by=['Sector'])

In [66]:
df.to_csv('screened_stocks.csv', index=False)